body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column; /* 改为 column 方式排列子元素 */
    height: 100vh;
}

#chat-header {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: #f1f1f1;
    padding:20px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 10;

}

#chat-container {
    width: 100%;
    max-width: 400px; /* 确保宽度与 chat-header 一致 */
    height: calc(100vh - 60px); /* 动态调整高度：总屏幕高度减去聊天头部的高度 */
    overflow-y: auto;
    padding-top: 20px;
    padding:20px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.message {
    max-width: 70%;
    padding: 8px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    padding-left: 20px;
}

.sender {
    align-self: flex-end;
    background-color: #5c2dea;
    color: white;
    text-align: left;
}

.receiver {
    align-self: flex-start;
    background-color: #e0e0e0;
    color: black;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    margin-left: 50px;
    position: relative;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: 0;
}

.choice {
    background-color: #f0f0f0;
    color: #2e2c36;
    cursor: pointer;
    border: 1px solid #5c2dea;
    display: block;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@media screen and (max-width: 600px) {
    #chat-header {
        padding: 10px 0;
        font-size: 1rem;
    }
    #chat-container {
        max-width: 100%;
    }
    .message {
        max-width: 90%;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
